<!DOCTYPE html>
<html lang="en-GB">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, minimum-scale=1.0" />
    <meta https-equiv="Accept-CH" content="DPR, Viewport-Width, Width" />
    <title>
      {% if page.title %}{{ page.title }} | {{ site.title }}{% else %}{{
      site.title }}{% endif %}
    </title>

    <link rel="preconnect" href="https://www.googletagmanager.com" />
    <link rel="dns-prefetch" href="https://www.googletagmanager.com" />
    <link rel="preconnect" href="https://www.google-analytics.com" />
    <link rel="dns-prefetch" href="https://www.google-analytics.com" />
    <link rel="preconnect" href="https://www.gstatic.com" />
    <link rel="dns-prefetch" href="https://www.gstatic.com" />
    <link
      href="https://fonts.googleapis.com/css?family=Noto+Sans:400,700&display=swap"
      rel="stylesheet"
    />

    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script
      async
      src="https://www.googletagmanager.com/gtag/js?id=UA-168683396-3"
    ></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag() {
        dataLayer.push(arguments);
      }
      gtag("js", new Date());

      gtag("config", "UA-168683396-3");
    </script>

    <link
      rel="stylesheet"
      href="https://assets.ubuntu.com/v1/vanilla-framework-version-2.16.0.min.css"
    />
    <script src="https://identity.netlify.com/v1/netlify-identity-widget.js"></script>

    <meta name="author" content="toto & luke" />
    <meta
      name="copyright"
      content="&copy; {{ site.time | date: '%Y' }} 418 I'm a teapod"
    />
    <link rel="alternate" href="https://teapod.club" hreflang="en-GB" />

    <meta
      name="description"
      content="{% if page.excerpt %}{{ page.excerpt | strip_html | strip_newlines | truncate: 160 }}{% else %}{{ site.description }}{% endif %}"
    />

    <meta
      property="og:title"
      content="{% if page.title %}{{ page.title }} | {{ site.title }}{% else %}{{ site.title }}{% endif %}"
    />
    <meta property="og:site_name" content="418 Teapod" />
    <meta property="og:type" content="website" />
    <meta
      property="og:description"
      content="{% if page.excerpt %}{{ page.excerpt | strip_html | strip_newlines | truncate: 160 }}{% else %}{{ site.description }}{% endif %}"
    />
    <meta property="og:image" content="{{ site.url }}/media/logo_square.png" />
    <meta
      property="og:url"
      content="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}"
    />
    <meta property="twitter:card" content="summary" />
    <meta property="twitter:site" content="@418teapod" />
    <meta property="twitter:creator" content="@418teapod" />
    <meta
      property="twitter:url"
      content="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}"
    />

    <link
      rel="canonical"
      href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}"
    />

    <link
      rel="apple-touch-icon"
      sizes="57x57"
      href="/media/favicon/apple-icon-57x57.png"
    />
    <link
      rel="apple-touch-icon"
      sizes="60x60"
      href="/media/favicon/apple-icon-60x60.png"
    />
    <link
      rel="apple-touch-icon"
      sizes="72x72"
      href="/media/favicon/apple-icon-72x72.png"
    />
    <link
      rel="apple-touch-icon"
      sizes="76x76"
      href="/media/favicon/apple-icon-76x76.png"
    />
    <link
      rel="apple-touch-icon"
      sizes="114x114"
      href="/media/favicon/apple-icon-114x114.png"
    />
    <link
      rel="apple-touch-icon"
      sizes="120x120"
      href="/media/favicon/apple-icon-120x120.png"
    />
    <link
      rel="apple-touch-icon"
      sizes="144x144"
      href="/media/favicon/apple-icon-144x144.png"
    />
    <link
      rel="apple-touch-icon"
      sizes="152x152"
      href="/media/favicon/apple-icon-152x152.png"
    />
    <link
      rel="apple-touch-icon"
      sizes="180x180"
      href="/media/favicon/apple-icon-180x180.png"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="192x192"
      href="/media/favicon/android-icon-192x192.png"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="32x32"
      href="/media/favicon/favicon-32x32.png"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="96x96"
      href="/media/favicon/favicon-96x96.png"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="16x16"
      href="/media/favicon/favicon-16x16.png"
    />
    <meta name="msapplication-tilecolor" content="#ffffff" />
    <meta
      name="msapplication-tileimage"
      content="/media/favicon/ms-icon-144x144.png"
    />
    <meta name="theme-color" content="#ffffff" />
    <script
      src="https://twemoji.maxcdn.com/v/latest/twemoji.min.js"
      crossorigin="anonymous"
    ></script>
    <style>
      img.emoji {
        height: 1em;
        width: 1em;
        margin: 0 0.05em 0 0.1em;
        vertical-align: -0.1em;
      }
    </style>
  </head>

  <body>
    <header id="navigation" class="p-navigation is-dark">
      <div class="p-navigation__row">
        <div class="p-navigation__banner">
          <a href="#navigation" class="p-navigation__toggle--open" title="menu"
            >Menu</a
          >
          <a
            href="#navigation-closed"
            class="p-navigation__toggle--close"
            title="close menu"
            >Close menu</a
          >
        </div>
        <nav class="p-navigation__nav">
          <span class="u-off-screen">
            <a href="#main-content">Jump to main content</a>
          </span>
          <ul class="p-navigation__items" role="menu">
            <li class="p-navigation__link" role="menuitem">
              <a class="p-navigation__link" href="/">418 I'm a teapod</a>
            </li>
            <li class="p-navigation__link" role="menuitem">
              <a class="p-navigation__link" href="/about">About</a>
            </li>
            <li class="p-navigation__link" role="menuitem">
                <a class="p-navigation__link p-link--external" href="https://twitter.com/418teapod">Twitter</a>
            </li>
          </ul>
        </nav>
      </div>
    </header>

    <section class="p-strip--suru">
      <div class="row u-vertically-center">
        <div class="col-8">
          <div class="p-media-object--large u-no-margin--bottom">
            {% if page.emoji %}
            <span
              class="p-media-object__image"
              style="font-size: 72px; line-height: 92px;"
              >{{ page.emoji }}</span
            >
            {% endif %} {% if page.image %}
            <img class="p-media-object__image" src="/assets/{{page.image}}" />
            {% endif %}
            <div class="p-media-object__details">
              <h1 class="u-no-margin--bottom">{{ page.title }}</h1>
              {% if page.subtitle%}
              <p>{{ page.subtitle}}</p>
              {% endif %} {% if page.date %}
              <p>{{ page.date | date_to_long_string}}</p>
              {% endif %}
            </div>
          </div>
        </div>
      </div>
    </section>

    <main id="main-content">
      {{ content }}
    </main>

    <footer class="p-strip--light">
      <nav class="row">
        <div class="has-cookie">
          <p>© 2020 418 I'm a teapod</p>
          <ul class="p-inline-list--middot">
            <li class="p-inline-list__item">
              <a href="https://github.com/tbille/teapod.club/issues/new"
                ><small>Report a bug on this site</small></a
              >
            </li>
          </ul>
          <span class="u-off-screen"
            ><a href="#">Go to the top of the page</a></span
          >
        </div>
      </nav>
    </footer>
    <script>
      twemoji.parse(document.body);
    </script>
  </body>
</html>
